<!DOCTYPE html>
<html>
<head>
<title>axis</title>
<link rel="stylesheet" href="./css/main.css">
</head>
<body>
<div id="headerDiv">
<table>
<tr>
<td><img src="./img/kab_logo_100.png" alt="insignia" style="width:60px;height:60px;"></td>
<td><span style="padding: 0px 8px 0px 8px;">One technophile's place to document stuff
<hr/>
<a id="navHome" href="zzz" class="navNormal">HOME</a> | <a id="navAbout" href="zzz" class="navNormal">ABOUT</a> | <a id="navContact" href="zzz" class="navNormal">WATCHING</a></span>
</td>
</tr>
</table>
<hr/>
</div>
<div id="content">
{{content}}
</div>
<div id="footerDiv">
<hr/>
&copy;2018 kabtech | kabtech
</div>
</body>
</html>






















