<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon"><link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
</head>
<body>
<div id="headerDiv">
<table>
<tr>
<td><img src="{{ site.url }}/img/kab_logo_100.png" alt="insignia" style="width:50px;height:50px;"></td>
<td width="8px"><td>
<td>{{ site.tagline }}
<hr class="headerHR" />
<a id="navHome" href="{{ site.url }}" class="navNormal">Home</a> | <a id="navLifeHacks" href="{{ site.url }}/lifehacks" class="navNormal">LifeHacks</a> | <a id="navRecommended" href="{{ site.url }}/recommended" class="navNormal">Recommended</a> | <a id="navAbout" href="{{ site.url }}/about" class="navNormal">About</a>
</td>
</tr>
</table>
<hr/>
</div>
<div id="content">
{{content}}
</div>
<div id="footerDiv">
<hr/>
&copy;2018 kab | kab@bestul.us
</div>
</body>
</html>
