<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="./css/main.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119497947-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119497947-1');
</script>
</head>
<body>
<div id="headerDiv">
<table>
<tr>
<td><img src="./img/kab_logo_100.png" alt="insignia" style="width:40px;height:40px;"></td>
<td width="4px"><td>
<td>{{ site.tagline }}
<hr class="headerHR" />
<a id="navHome" href="{{ site.url }}" class="navNormal">Home</a> | <a id="navRecommended" href="recommended" class="navNormal">Recommended</a> | <a id="navAbout" href="about" class="navNormal">About</a>
</td>
</tr>
</table>
<hr/>
</div>
<div id="content">
<div id="ccc"> 
    <p class="sectionHeader">Code Snippets, Command Shell Snippets, and Configuration Tips</p>
    <ul>
      {% assign items = site.pages | sort: 'title' %}
      {% for p in items %}
        {% if p.group == "ccc" %}
        <li>
          <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
<div id="rs"> 
    <p class="sectionHeader">Reference Sheets</p>
    <ul>
      {% assign items = site.pages | sort: 'title' %}
      {% for p in items %}
        {% if p.group == "rs" %}
        <li>
          <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
<div id="bdn"> 
    <p class="sectionHeader">Build/Deploy Narratives</p>
    <ul>
      {% assign items = site.pages | sort: 'title' %}
      {% for p in items %}
        {% if p.group == "bdn" %}
        <li>
          <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>

<div id="atos"> 
    <p class="sectionHeader">ATOS (all the other stuff)</p>
    <ul>
      {% assign items = site.pages | sort: 'title' %}
      {% for p in items %}
        {% if p.group == "atos" %}
        <li>
          <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
</div>
<div id="footerDiv">
<hr/>
&copy;2018 kab | kab@bestul.us
</div>
</body>
</html>
