<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="./css/main.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119497947-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119497947-1');
</script>
</head>
<body>
<div id="headerDiv">
<table>
<tr>
<td><img src="./img/kab_logo_100.png" alt="insignia" style="width:40px;height:40px;"></td>
<td width="4px"><td>
<td>{{ site.tagline }}
<hr class="headerHR" />
<a id="navHome" href="{{ site.url }}" class="navNormal">Home</a> | <a id="navRecommended" href="recommended" class="navNormal">Recommended</a> | <a id="navAbout" href="about" class="navNormal">About</a>
</td>
<td>
<div id="search">
<script>
  (function() {
    var cx = '005707340265026709950:0gobobh6yti';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
</td>
</tr>
</table>
<hr/>
</div>
<div id="content">
<div id="ccc"> 
  <p class="sectionHeader">Code Snippets, Command Shell Snippets, and Configuration Tips</p>
  <br/>
  <div class="dynColumns">
    {% assign items = site.pages | sort: 'title' %}
    {% for p in items %}
      {% if p.group == "ccc" %}
        <div><a href="{{ p.url }}">{{ p.title }}</a></div>
      {% endif %}
    {% endfor %}
  </div>
  <br/>
</div>
<div id="rs"> 
  <p class="sectionHeader">Reference Sheets</p>
  <br/>
  <div class="dynColumns">
    {% assign items = site.pages | sort: 'title' %}
    {% for p in items %}
      {% if p.group == "rs" %}
        <div><a href="{{ p.url }}">{{ p.title }}</a></div>
      {% endif %}
    {% endfor %}
  </div>
  <br/>
</div>
<div id="bdn"> 
  <p class="sectionHeader">Build/Deploy Narratives</p>
  <br/>
  <div class="dynColumns">
    {% assign items = site.pages | sort: 'title' %}
    {% for p in items %}
      {% if p.group == "bdn" %}
        <div><a href="{{ p.url }}">{{ p.title }}</a></div>
      {% endif %}
    {% endfor %}
  </div>
  <br/>
</div>

<div id="atos"> 
  <p class="sectionHeader">ATOS (all the other stuff)</p>
  <br/>
  <div class="dynColumns">
    {% assign items = site.pages | sort: 'title' %}
    {% for p in items %}
      {% if p.group == "atos" %}
        <div><a href="{{ p.url }}">{{ p.title }}</a></div>
      {% endif %}
    {% endfor %}
  </div>
  <br/>
</div>
</div>
<div id="footerDiv">
<hr/>
&copy;2018 kab | kab@bestul.us
</div>
</body>
</html>
